# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment / secrets
.env
.env.*

# Git
.git/
.gitignore

# Virtualenv
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Tests / cache
.pytest_cache/
.mypy_cache/

# Docker
Dockerfile
docker-compose.yml